* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #030303;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 25px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background-color: lightskyblue;
  color: #000;
}

.icon,
.link_text {
  font-size: 20px;
}

/* App.css */
.app-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #000;
  color: white;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav.navbar {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

.content > div {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

